<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Articles Page</title>
  <meta name="description" content="The Article Page">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
</head>
<body>
  <header>
    <h3>Colin Lamont</h3>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/journal/new-entry">Create</a></li>
        <li><a href="/journal/detail">Articles</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 5%">
        <h4>Colin's Learning Journal Articles</h4>
        <p>My learning journal articles</p>
      </div>
    </div>
    <article>
      <h5 class="date">December 16, 2016</h5>
      <a href="/journal/{id:\d+}"><h4>Interview Challenge</h4></a>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu diam at felis fermentum 
        tincidunt in vitae urna. Nullam et semper risus. Mauris condimentum, nisl et feugiat mollis, 
        nisl elit cursus massa, scelerisque accumsan orci nunc sed arcu. Proin hendrerit viverra elit 
        eu sagittis. Sed id leo quis nisi ultricies maximus. Donec egestas, quam eget lobortis congue, 
        elit risus lobortis leo, sit amet commodo ex tellus et magna. Morbi bibendum placerat felis 
        vitae pharetra. Phasellus eu enim ut velit fermentum eleifend eget non sapien. Cras fringilla 
        condimentum nisl vel scelerisque. Suspendisse a tincidunt lectus. Vestibulum ac vulputate neque. 
        Nulla sit amet hendrerit neque. Duis euismod risus libero. Maecenas urna leo, molestie eu felis at, 
        accumsan ultricies ante. Phasellus molestie mi quis vestibulum pretium.</p>
    </article>
  </div>
</body>
</html>
