<!--DOCTYPE html-->

<html>
    <head>
        <title>Edit Page</title>
        <link rel="stylesheet" href="../static/css/base.css">
    </head>
    <body>
        <header>
            <h3>Colin Lamont</h3>
            <nav>
                <ul>
                    <li><a href="/journal/list">Home</a></li>
                    <li><a href="/journal/new-entry">Create</a></li>
                    <li><a href="/journal/detail">Articles</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <article>
            <h5 class="date">December 16, 2016</h5>
            <a href="/journal/{id:\d+}"><h4>Interview Challenge</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu diam at felis fermentum 
            tincidunt in vitae urna. Nullam et semper risus. Mauris condimentum, nisl et feugiat mollis, 
            nisl elit cursus massa, scelerisque accumsan orci nunc sed arcu. Proin hendrerit viverra elit 
            eu sagittis. Sed id leo quis nisi ultricies maximus. Donec egestas, quam eget lobortis congue, 
            elit risus lobortis leo, sit amet commodo ex tellus et magna. Morbi bibendum placerat felis 
            vitae pharetra. Phasellus eu enim ut velit fermentum eleifend eget non sapien. Cras fringilla 
            condimentum nisl vel scelerisque. Suspendisse a tincidunt lectus. Vestibulum ac vulputate neque. 
            Nulla sit amet hendrerit neque. Duis euismod risus libero. Maecenas urna leo, molestie eu felis at, 
            accumsan ultricies ante. Phasellus molestie mi quis vestibulum pretium.
          </article>
        </main>
    </body>
</html>
