<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 5%">
        <h4>Colin's Learning Journal</h4>
        <p>My learning journal</p>
        <ul>
          <li><a href=""><h3>today I learned ...</h3></a></li>
          <li id="article"><a href="/journal/new-entry">Create a new article</a></li>
        </ul>
        <div>
          <article>
            <h5 class="date">December 16, 2016</h5>
            <a href="/journal/{id:\d+}"><h4>Interview Challenge</h4></a>
          </article>
          <article>
            <h5 class="date">December 15, 2016</h5>
            <a href="/journal/{id:\d+}"><h4>Concurrency</h4></a>
          </article>
          <article>
            <h5 class="date">December 14, 2016</h6>
            <a href="/journal/{id:\d+}"><h4>Class Methods</h4></a>
          </article>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
